<section ng-controller="MainController">

  <!-- Usuario sin autenticar -->
  <div data-ng-show="!authentication.user">
    <li><a href="/signin">Identificacion</a></li>
    <li><a href="/signup">Crear Cuenta</a></li>
    <hr />
  </div>

  <!-- Usuario autenticado  -->
  <div data-ng-show="authentication.user">

    <!-- Vista para Doctores -->
    <div data-ng-show="authentication.user.rol == 'doctor'">
      <div data-ng-controller="ProfilesDoctorController" data-ng-init="find()">
        <div data-ng-repeat="profileDoctor in profilesDoctor">
          <div data-ng-show="authentication.user._id == profileDoctor.creador._id">
            <h1>Doct@r <a data-ng-href="#!/profilesDoctor/{{profileDoctor._id}}" data-ng-bind="profileDoctor.creador.fullName"></a></h1>
            <a href="/signout">Cerrar Sesión</a>
            <hr />
            <ul>
              <li><a data-ng-href="#!/profilesDoctor/{{profileDoctor._id}}/edit">Editar perfil</a></li>
              <li><a href="/#!/profilesDoctor">Lista de doctores</a></li>
              <li><a href="/#!/articles">Artículos de interés</a></li>
              <li><a href="/#!/appointments">Citas programadas</a></li>
              <li><a href="#!/consultations">Consultas Realizadas</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Vista para Pacientes -->
    <div data-ng-show="authentication.user.rol == 'patient'">
      <div data-ng-controller="ProfilesPatientController" data-ng-init="find()">
        <div data-ng-repeat="profilePatient in profilesPatient">
          <div data-ng-show="authentication.user._id == profilePatient.creador._id">
            <h1>Paciente <a data-ng-href="#!/profilesPatient/{{profilePatient._id}}" data-ng-bind="profilePatient.creador.fullName"></a></h1>
            <a href="/signout">Cerrar Sesión</a>
            <hr />
            <ul>
              <li><a data-ng-href="#!/profilesPatient/{{profilePatient._id}}/edit">Editar perfil</a></li>
              <li><a href="/#!/appointments/create">Nueva Cita</a></li>
              <li><a href="/#!/appointments">Registro de citas</a></li>
              <li><a href="/#!/consultations">Ver historial médico</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Alta de perfiles -->
    <div data-ng-show="authentication.user.rol == ''">
      <h1>Usuario <span data-ng-bind="authentication.user.fullName"></span></h1>
      <a href="/signout">Cerrar Sesión</a>
      <hr />
      <!-- Perfil de médico -->
      <p>Para crear una cuenta como médico.</p>
      <!-- <li><a href="/signupdoctor">Crear Cuenta Medico</a></li> -->
      <li><a href="/#!/profilesDoctor/create">Crear Perfil Medico</a></li>
      <hr align="left" noshade="noshade" size="1" width="35%" />
      <!-- Perfil de paciente -->
      <p>Para crear una cuenta como paciente.</p>
      <!-- <li><a href="/signuppatient">Crear Cuenta Paciente</a></li> -->
      <li><a href="/#!/profilesPatient/create">Crear Perfil Paciente</a></li>
      <hr />
    </div>


  </div>

</section>
