<section ng-controller="MainController">

  <!-- Navegacion -->
  <a data-ng-href="#!/">Principal</a>
  <hr />

<!-- Usuario autenticado -->
<div data-ng-show="authentication.user">

  <!-- La view create appointment -->
  <section data-ng-controller="AppointmentsController">
    <!-- Formulario nueva cita -->
    <form data-ng-submit="create()" novalidate>
      <h1>Nueva cita</h1>
      <!-- Fecha -->
      <div>
        <hr align="left" size="1" width="30%" />
        <label for="date">Fecha</label>
        <div>
          <input type="date" data-ng-model="date" id="date" required>
            <!-- <input type="date" min="2018-03-25" max="2018-12-31" step="2" data-ng-model="date" id="date" placeholder="Fecha" required> -->
        </div>
      </div>

      <!-- Hora -->
      <hr align="left" size="1" width="30%" />
      <label for="hour">Hora</label>
      <div>
        <input type="time" data-ng-model="hour" name="hour" id="hour">
          <!-- <input type="time" min="9:00" max="15:00" step="3600" name="hour" id="hour" placeholder="Hora"> -->
      </div>

      <!-- Médico -->
      <div>
        <label for="doctor">Médico</label>
        <div>
          <div ata-ng-init="findDoctors()">
            <select name="doctor" id="doctor"
             ng-options="profileDoctor.creador.fullName for profileDoctor in profilesDoctor"
             data-ng-model="doctor">
            </select>
            <!-- <select data-ng-model="doctor" ng-options="profileDoctor.creador.fullName for profileDoctor in profilesDoctor"></select> -->
          </div>
          <!-- <input type="text" data-ng-model="doctor" id="doctor" placeholder="Doctor" > -->
        </div>
      </div>

      <!-- Motivo de consulta -->
      <div>
        <hr align="left" size="1" width="30%" />
        <label for="chiefComplaint">Motivo de consulta</label>
        <div>
          <textarea data-ng-model="chiefComplaint" id="chiefComplaint" cols="30" rows="10" placeholder="Motivo de consulta"></textarea>
        </div>
      </div>

      <!-- Botón de envio -->
      <div>
        <hr />
        <input type="submit" value="Crear cita">
      </div>

      <!-- El elemento mensaje de error -->
      <div data-ng-show="error">
        <strong data-ng-bind="error"></strong>
      </div>
    </form>
  </section>
</div>

<!-- Usuario sin autenticar -->
<div data-ng-show="!authentication.user">
  <h1>Tienes que estar autenticado para crear una cita.</h1>
  <li><a href="/signin">Identificarse</a></li>
</div>

</section>
