<section ng-controller="MainController">

  <!-- Navegacion -->
  <a data-ng-href="#!/">Principal</a> >
  <a data-ng-href="#!/appointments">Citas</a>
  <hr />

  <!-- Usuario sin autenticar -->
  <div data-ng-show="!authentication.user">
    <h1>Tienes que estar autenticado para crear una cita.</h1>
    <li><a href="/signin">Identificarse</a></li>
  </div>

  <!-- Usuario autenticado -->
  <div data-ng-show="authentication.user">

    <!-- La view edit appointment -->
    <section data-ng-controller="AppointmentsController" data-ng-init="findOne()">

      <!-- Formulario modificar cita -->
      <h1>Modificar cita</h1>
      <form data-ng-submit="update()" novalidate>

        <!-- Botón de envio -->
        <div>
          <input type="submit" value="Actualizar Cita">
        </div>
        
        <!-- Centro médico -->
        <div>
          <label for="healthCentre">Centro médico</label>
          <div>
            <input type="text" data-ng-model="appointment.healthCentre" id="healthCentre" placeholder="HealthCentre">
          </div>
        </div>

        <!-- Médico -->
        <div>
          <label for="doctor">Médico</label>
          <div>
            <input type="text" data-ng-model="appointment.doctor" id="doctor" placeholder="Doctor">
          </div>
        </div>

        <!-- Especialidad -->
        <div>
          <label for="specialty">Especialidad</label>
          <div>
            <input type="text" data-ng-model="appointment.specialty" id="specialty" placeholder="Specialty">
          </div>
        </div>

        <!-- Afección -->
        <div>
          <label for="disorder">Afección</label>
          <div>
            <textarea data-ng-model="appointment.disorder" id="disorder" cols="30" rows="10" placeholder="Disorder">
          </div>
        </div>

        <!-- El elemento mensaje de error -->
        <div data-ng-show="error">
          <strong data-ng-bind="error"></strong>
        </div>

      </form>
    </section>
  </div>

</section>
