<section ng-controller="MainController">
  <!-- Usuario autenticado -->
  <div data-ng-show="authentication.user">

    <!-- Navegacion -->
    <a data-ng-href="#!/">Principal</a>
    <hr />

    <!-- Vista de doctor -->
    <div data-ng-show="authentication.user.rol == 'doctor'">

      <section data-ng-controller="AppointmentsController" data-ng-init="find()">
        <!-- Lista de citas solicitadas -->
        <h1>Citas</h1>
        <ul data-ng-repeat="appointment in appointments">
          <section data-ng-show="authentication.user._id == appointment.doctor.creador._id">
            <hr align="left" size="1" width="30%" />
            <!-- Fecha de la cita -->
            <a data-ng-href="#!/appointments/{{appointment._id}}" data-ng-bind="appointment.date | date:'shortDate'"></a>
            <!-- Hora de la cita -->
            <h1>Hora</h1>
            <p data-ng-bind="appointment.hour | date:'shortTime'"></p>
            <!-- Fecha de creación -->
            <small>
              <em>Creada el</em>
              <em data-ng-bind="appointment.created | date:'medium'"></em>
            </small>
            <!-- Paciente -->
            <hr align="left" size="1" width="30%" />
            <h1>Paciente</h1>
            <p data-ng-bind="appointment.creador.fullName"></p>
            <hr />
          </section>
        </ul>
        <!-- Si no hay citas en la lista, lo notificamos -->
        <div data-ng-hide="!appointments || appointments.length">
          <h1>Aún no hay citas.</h1>
        </div>
      </section>
    </div>

    <!-- Vista de paciente -->
    <div data-ng-show="authentication.user.rol == 'patient'">

      <!-- La view listar citas -->
      <section data-ng-controller="AppointmentsController" data-ng-init="find()">
        <h1>Citas</h1>
        <hr />
        <ul data-ng-repeat="appointment in appointments">
          <div data-ng-show="authentication.user._id == appointment.creador._id">
            <a data-ng-href="#!/appointments/{{appointment._id}}">Detalles</a>
            <!-- Fecha de la cita -->
            <h1>Fecha</h1>
            <p data-ng-bind="appointment.hour | date:'shortDate'"></p>

            <!-- Hora de cita -->
            <h1>Hora</h1>
            <p data-ng-bind="appointment.hour | date:'shortTime'"></p>

            <!-- Fecha de creación -->
            <small>
              <em>Creada el</em>
              <em data-ng-bind="appointment.created | date:'medium'"></em>
            </small>


            <!-- Centro de salud -->
            <hr align="left" size="1" width="30%" />
            <h1>Centro de salud</h1>
            <p data-ng-bind="appointment.doctor.healthCentre"></p>

            <!-- Doctor -->
            <hr align="left" size="1" width="30%" />
            <h1>Doctor/a</h1>
            <p data-ng-bind="appointment.doctor.creador.fullName"></p>
            <hr />
          </div>
        </ul>
        <!-- Si no hay citas en la lista, sugerimos que se cree una nueva cita -->
        <div data-ng-hide="!appointments || appointments.length">
          No tienes citas,¿ <a href="#!/appointments/create">Pedir cita</a>?
        </div>
      </section>
    </div>

  </div>

  <!-- Usuario sin autenticar -->
  <div data-ng-show="!authentication.user">
    <p>Es necesario estar logueado.<a href="/#!/signin">Identificarse</a></p>
  </div>

</section>
