<section ng-controller="MainController">

  <!-- Usuario no autenticado o paciente -->
  <div data-ng-show="!authentication.user || authentication.user.rol == 'patient'">
    <!-- Barra de Navegacion -->
    <nav class="navbar navbar-inverse" role="navigation">
      <!-- El menú se agrupa
      para mostrarlo mejor en los dispositivos móviles -->
      <div class="navbar-header">
        <div data-ng-show="authentication.user.rol == 'patient'">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Desplegar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        </div>
        <a class="navbar-brand text-center" href="#!">MEDICAL HISTORY</a>
      </div>

      <!-- Agrupar los enlaces de navegación, los formularios y cualquier
    otro elemento que se pueda ocultar al minimizar la barra -->
      <div data-ng-show="authentication.user.rol == 'patient'">
        <div data-ng-controller="ProfilesPatientController" data-ng-init="find()">
          <div data-ng-repeat="profilePatient in profilesPatient">
            <div data-ng-show="authentication.user._id == profilePatient.creador._id">

              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-ng-bind="authentication.user.fullName" data-toggle="dropdown"><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li> <a class="text-center" data-ng-href="#!/profilesPatient/{{profilePatient._id}}">Perfil</a> </li>
                      <li> <a href="/signout" class="btn btn-danger btn-xs" role="button">Logout</a> </li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>

    </nav>
    <!-- Fin barra navegación -->
    <!-- Body usuario sin autenticar-->
    <div class="text-center">
      <div data-ng-show="authentication.user.rol != 'patient'">
        <div class="alert alert-warning text-center">
          <h4>Tienes que estar logueado para crear tu perfil de doctor/a</h4>
          <hr align="center" size="1" width="33%" />
          <a href="/signin" class="btn btn-primary" role="button">Login</a>
        </div>
      </div>

      <div data-ng-show="authentication.user.rol == 'patient'">
        <div class="alert alert-danger text-center">
          <h4>No puedes crear un perfil médico siendo paciente</h4>
        </div>
      </div>
      <hr />
      <h6 class="mt-5 mb-3 text-muted">Medical History 2018</h6>
    </div>
    <!-- Fin body usuario sin autenticar -->
  </div>
  <!-- Fin usuario sin autenticar o paciente -->

  <!-- Usuario autenticado y no es paciente -->
  <div data-ng-show="authentication.user && authentication.user.rol != 'patient'">

    <!-- Barra de Navegacion -->
    <nav class="navbar navbar-inverse" role="navigation">
      <!-- El menú se agrupa
      para mostrarlo mejor en los dispositivos móviles -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Desplegar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#!">MEDICAL HISTORY</a>
      </div>
      <!-- Agrupar los enlaces de navegación, los formularios y cualquier
    otro elemento que se pueda ocultar al minimizar la barra -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav"></ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-ng-bind="authentication.user.fullName" data-toggle="dropdown">
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li> <a href="/signout" class="btn btn-danger btn-xs" role="button">Logout</a> </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Fin barra navegación -->

    <!-- La view create profileDoctor -->
    <section data-ng-controller="ProfilesDoctorController">

      <!-- Formulario nuevo perfil médico -->
      <div class="container-fluid">
        <!-- Titulo -->
        <div class="row alert alert-info">
          <div style="margin-left:1%" class="column">
            <h1>Nuevo perfil médico</h1>
            <hr>
          </div>
        </div>
        <!-- Contenido -->
        <div class="row">
          <div style="margin-left:10%" class="column">
            <form data-ng-submit="create()">
              <table class="table table-hover" BORDER WIDTH="50%" align="center" FRAME="void" RULES="rows">

                <!-- Número de colegiado -->
                <tr>
                  <td style="vertical-align:middle" width="20%">
                    <label for="numberColleged">
                      <h4>Número de colegiado</h4>
                    </label>
                  </td>
                  <td style="vertical-align:middle">
                    <h4>
                      <input type="text" maxlength="11" data-ng-model="numberColleged" id="numberColleged" placeholder="Número de colegiado" required oninvalid="setCustomValidity('Introduzca un número de colegiado')" oninput="setCustomValidity('')">
                    </h4>
                  </td>
                </tr>
                <!-- Centro médico -->
                <tr>
                  <td style="vertical-align:middle">
                    <label for="healthCentre">
                      <h4>Centro médico</h4>
                    </label>
                  </td>
                  <td style="vertical-align:middle">
                    <h4>
                    <input type="text" data-ng-model="healthCentre" id="healthCentre" placeholder="Centro médico" required oninvalid="setCustomValidity('Introduzca un centro médico')" oninput="setCustomValidity('')">
                    </h4>
                  </td>
                </tr>
                <!-- Especialidad -->
                <tr>
                  <td style="vertical-align:middle">
                    <label for="specialties">
                      <h4>Especialidad</h4>
                    </label>
                  </td>
                  <td style="vertical-align:middle">
                    <h4>
                      <input type="text" data-ng-model="specialties" id="specialty" placeholder="Especialidad" required oninvalid="setCustomValidity('Introduzca una especialidad')" oninput="setCustomValidity('')">
                    </h4>
                  </td>
                </tr>
                <!-- Horario de trabajo -->
                <tr>
                  <td style="vertical-align:middle">
                    <label for="startTime">
                      <h4>Hora de inicio de consulta</h4>
                    </label>
                  </td>
                  <td style="vertical-align:middle">
                    <h4>
                    <input type="time" data-ng-model="startTime" id="startTime" placeholder="Hora de inicio" required oninvalid="setCustomValidity('Introduzca hora de inicio de consulta')" oninput="setCustomValidity('')">
                  </h4>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:middle">
                    <label for="endTime">
                      <h4>Hora de fin de consulta</h4>
                    </label>
                  </td>
                  <td style="vertical-align:middle">
                    <h4>
                    <input type="time" data-ng-model="endTime" id="endTime" placeholder="Hora de fin" required oninvalid="setCustomValidity('Introduzca hora de fin de consulta')" oninput="setCustomValidity('')">
                  </h4>
                  </td>
                </tr>
                <!-- Email -->
                <tr>
                  <td style="vertical-align:middle">
                    <label for="email">
                      <h4>Email</h4>
                    </label>
                  </td>
                  <td style="vertical-align:middle">
                    <h4>
                    <input type="text" data-ng-model="email" id="email" placeholder="Email" required oninvalid="setCustomValidity('Introduzca una dirección de correo')" oninput="setCustomValidity('')">
                  </h4>
                  </td>
                </tr>
              </table>
              <!-- Boton envio -->
              <hr>
              <input type="submit" value="Crear perfil">

              <!-- El elemento mensaje de error -->
              <div data-ng-show="error">
                <br>
                <div class="alert alert-warning">
                  <strong data-ng-bind="error"></strong>
                  <div data-ng-show="!authentication.user">
                    <a href="/signin" class="btn btn-primary" role="button">Login</a>
                  </div>
                </div>
              </div>

            </form>

          </div>
        </div>

      </div>
      <!-- Fin contenido -->
      <hr />
      <div class="text-center">
        <h6 class="mt-5 mb-3 text-muted">Medical History 2018</h6>
      </div>
    </section>
  </div>
  <!-- Fin usuario autenticado y no es paciente -->

</section>
