<section ng-controller="MainController">

<!-- Navegacion -->
<a data-ng-href="#!/">Principal</a>
<hr />

<!-- Usuario sin autenticar -->
<div data-ng-show="!authentication.user">
  <h1>Tienes que estar autenticado para poder editar tu perfil de doctor.</h1>
  <li><a href="/signin">Identificarse</a></li>
</div>

<!-- Usuario autenticado  -->
<div data-ng-show="authentication.user">
  <!-- La view edit profileDoctor -->
  <section data-ng-controller="ProfilesDoctorController" data-ng-init="findOne()">

    <!-- Formulario editar perfil -->
    <h1>Editar perfil</h1>
    <hr align="left" size="1" width="30%" />
    <form data-ng-submit="update()" novalidate>
      <!-- Número de colegiado -->
      <div>
        <label for="numberColleged">Número de colegiado</label>
        <div>
          <input type="text" data-ng-model="profileDoctor.numberColleged" id="numberColleged" placeholder="Número de colegiado" >
          <hr align="left" size="1" width="30%" />
        </div>
      </div>
      <!-- Centro médicos -->
      <div>
        <label for="healthCentre">Centro médico</label>
        <div>
          <input type="text" data-ng-model="profileDoctor.healthCentre" id="healthCentre" placeholder="Centro de salud">
          <hr align="left" size="1" width="30%" />
        </div>
      </div>
      <!-- Especialidad -->
      <div>
        <label for="specialties">Especialidad</label>
        <div>
          <input type="text" data-ng-model="profileDoctor.specialties" id="specialties" placeholder="Especialidad" >
          <hr align="left" size="1" width="30%" />
        </div>
      </div>
      <!-- Horario de trabajo -->
      <div>
        <label>Horario de trabajo</label>
        <hr align="left" size="1" width="17%" />
        <label for="startTime">-Hora de inicio</label>
        <div>
          <input type="time" data-ng-model="profileDoctor.startTime" id="startTime" placeholder="Hora de inicio" required>
        </div>
        <label for="endTime">-Hora de fin</label>
        <div>
          <input type="time" data-ng-model="profileDoctor.endTime" id="endTime" placeholder="Hora de fin" required>
          <hr align="left" size="1" width="30%" />
        </div>
      </div>
      <!-- Email -->
      <div>
        <label for="email">Email</label>
        <div>
          <input type="text" data-ng-model="profileDoctor.email" id="email" placeholder="Email">
        </div>
      </div>

      <div>
        <hr />
        <input type="submit" value="Actualizar">
      </div>

      <!-- El elemento mensaje de error -->
      <div data-ng-show="error">
        <strong data-ng-bind="error"></strong>
      </div>
    </form>
  </section>
</div>

</section>
