<section ng-controller="MainController">

<!-- Navegacion -->
<a data-ng-href="#!/">Principal</a>
<hr />
<!-- Usuario sin autenticar -->
<div data-ng-show="!authentication.user">
  <h1>Tienes que estar autenticado para ver listado de doctores</h1>
  <li><a href="/signin">Identificarse</a></li>
</div>

<!-- Usuario autenticado  -->
<div data-ng-show="authentication.user">
  <!-- La view listar citas -->
  <section data-ng-controller="ProfilesPatientController" data-ng-init="find()">
    <!-- Lista de pacientes -->
    <h1>Pacientes</h1>
    <ul>
      <hr />
      <li data-ng-repeat="profilePatient in profilesPatient">
        <a data-ng-href="#!/profilesPatient/{{profilePatient._id}}" data-ng-bind="profilePatient.creador.fullName"></a>
        <br>
        <small>
          <em>Con perfil desde</em>
          <em data-ng-bind="profilePatient.created | date:'medium'"></em>
        </small>
        <h1>DNI / NIF</h1>
          <p data-ng-bind="profilePatient.dni"></p>
        <h1>Nacionalidad</h1>
          <p data-ng-bind="profilePatient.nationality"></p>
        <h1>Ciudad de residencia</h1>
          <p data-ng-bind="profilePatient.city"></p>
        <h1>Código postal</h1>
          <p data-ng-bind="profilePatient.zipCode"></p>
        <h1>Dirección</h1>
          <p data-ng-bind="profilePatient.address"></p>
        <h1>Número de teléfono</h1>
          <p data-ng-bind="profilePatient.phoneNumber"></p>
        <h1>Email</h1>
          <p data-ng-bind="profilePatient.email"></p>
        <h1>Género</h1>
          <p data-ng-bind="profilePatient.gender"></p>
        <h1>Fecha de nacimiento</h1>
          <p data-ng-bind="profilePatient.birthDate"></p>
        <h1>Lugar de nacimiento</h1>
          <p data-ng-bind="profilePatient.birthPlace"></p>
        <h1>Estado civil</h1>
          <p data-ng-bind="profilePatient.civilStatus"></p>
        <h1>Grupo sanguineo</h1>
          <p data-ng-bind="profilePatient.bloodType"></p>
        <h1>Alergias</h1>
          <p data-ng-bind="profilePatient.allergies"></p>
      <hr />
      </li>
    </ul>
    <!-- Si no tiene, sugerimos que se cree un nuevo perfil -->
    <div data-ng-hide="!profilesPatient || profilesPatient.length">
      Aún no tienes perfil, <a href="#!/profilesPatient/create">crearte un perfil</a>?
    </div>
  </section>
</div>
</section>
