<!-- Navegacion -->
<a data-ng-href="#!/">Principal</a>
<hr />
<a href="/#!/articles/create">Añadir artículo</a>
<hr />

<!-- La view listar artículos -->
<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<!-- La lista de artículos -->
	<h1>Artículos</h1>
	<ul>
		<hr align="left" size="1" width="30%" />
		<li data-ng-repeat="article in articles">

			<!-- Titulo del artículo -->
			<h1>
				<a data-ng-href="#!/articles/{{article._id}}" data-ng-bind="article.titulo"></a>
			</h1>
			<!-- Fecha de creación del artículo -->
			<small>
				<em>Añadido el</em>
				<em data-ng-bind="article.creado | date:'mediumDate'"></em>
				<!-- Creador -->
				<em>por</em>
				<em data-ng-bind="article.creador.fullName"></em>
			</small>
			<hr align="left" size="1" width="30%" />
		</li>
	</ul>
	<!-- Si no hay artículos en la lista, sugiere al usuario que cree un nuevo artículo -->
	<div data-ng-hide="!articles || articles.length">
		Aún no hay artículos, porque no creas <a href="/#!/articles/create">el primero</a>?
	</div>
</section>
