<!-- Navegacion -->
<a data-ng-href="#!/">Principal</a> >
<a data-ng-href="#!/articles">Artículos</a>
<hr />

<!-- La view artículo -->
<section data-ng-controller="ArticlesController" data-ng-init="findOne()">

  <!-- Título -->
  <h1 data-ng-bind="article.titulo"></h1>
  <!-- Fecha de creación -->
  <small>
    <em>Añadido el</em>
    <em data-ng-bind="article.creado | date:'mediumDate'"></em>
    <!-- Creador -->
    <em>por</em>
    <em data-ng-bind="article.creador.fullName"></em>
  </small>
  <hr align="left" size="1" width="30%" />
  <!-- Contenido -->
  <p data-ng-bind="article.contenido"></p>
  <hr align="left" size="1" width="30%" />
  <!-- Url -->
  <p data-ng-bind="article.url"></p>
  <hr />
  <!-- Mostrar los botones de edición para artículo creado -->
  <div data-ng-show="authentication.user._id == article.creador._id">
      <a href="/#!/articles/{{article._id}}/edit">editar</a>
      <a href="#" data-ng-click="delete();">borrar</a>
  </div>

</section>
