<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sign up Medical History">
    <meta name="author" content="Oscar Fernández Aranda">
    <!-- <link rel="icon" href="https://getbootstrap.com/favicon.ico"> -->

    <!-- Usa la propiedad 'title' para renderizar un título de página  -->
    <title><%= title %></title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Tema opcional -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</head>
<body class="text-center">
  <!-- Barra de Navegacion -->
  <nav class="navbar navbar-inverse" role="navigation">
    <!-- El menú se agrupa para mostrarlo mejor en los dispositivos móviles -->
    <div class="navbar-header text-center">
      <a class="navbar-brand text-center" href="/">MEDICAL HISTORY</a>>
    </div>
  </nav>
  <!-- Fin barra navegación -->
  	<h1>Plataforma de consultas médicas e historiales médicos</h1>
    <hr />
  <!-- Mostrar mensajes flash  -->
  <% for(var i in messages) { %>
    <div class="flash alert alert-warning text-center"><%= messages[i] %></div>
  <% } %>
  <!-- Renderizar el formulario signup  -->
  <form action="/signup" method="post">
    <div>
      <label>Nombre:</label><br>
      <input type="text" name="firstName" placeholder="Nombre" required/>
    </div>
    <br>
    <div>
      <label>Apellido:</label><br>
      <input type="text" name="lastName" placeholder="Apellido"/>
    </div>
    <br>
    <div>
      <label>Email:</label><br>
      <input type="text" name="email" placeholder="Email"/>
    </div>
    <hr align="center" size="1" width="30%" />
    <div>
      <label>Usuario:</label><br>
      <input type="text" name="username" placeholder="Usuario"/>
    </div>
    <br>
    <div>
      <label>Contraseña:</label><br>
      <input type="password" name="password" placeholder="Contraseña"/>
    </div>
    <div>
      <br>
      <button class="btn btn-primary btn-sm" type="submit">Enviar</button>
    </div>
  </form>
  <hr />
  <a href="/oauth/google" class="btn btn-primary" role="button">Registrarse con Google</a>
  <hr />
  <p class="mt-5 mb-3 text-muted">Medical History 2018</p>

</body>
</html>
